<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base :: Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>

<section>
    <div class="container mx-auto p-8">
        <div class="flex justify-center">
            <div class="w-full max-w-lg">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <div class="bg-blue-600 text-white text-center py-4">
                        <h2 class="text-2xl font-bold fs-4">Edit Product</h2>
                        <!-- Success and Error Messages -->
                        <div th:if="${session.succMsg}" class="mb-4">
                            <h2 class="text-green-900 font-semibold">[[${session.succMsg}]]</h2>
                            <div th:text="${@commonServiceImple.removeSessionMessage()}"></div>
                        </div>
                        <div th:if="${session.errorMsg}" class="mb-4">
                            <h2 class="text-red-600 font-semibold">[[${session.errorMsg}]]</h2>
                            <div th:text="${@commonServiceImple.removeSessionMessage()}"></div>
                        </div>
                    </div>
                    <div class="p-6">
                        <form method="post" action="/admin/updateProduct" enctype="multipart/form-data" onsubmit="return validateFileSize()">
                            <input type="hidden" name="id" th:value="${product.id}">
                            <!-- Title Field -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2">Enter Title</label>
                                <input type="text" name="title" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" th:value="${product.title}">
                            </div>

                            <!-- Description Field -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-semibold mb-2">Enter Description</label>
                                <textarea name="description" rows="3" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">[[${product.description}]]</textarea>
                            </div>

                            <div class="row">
                            <!-- Category Field -->
                              <div class="mb-4 col">
                                <label  class="block text-gray-700 font-semibold mb-2">Category</label>
                                <select name="category" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option>[[${product.category}]]</option>
                                    <option th:each="c:${categories}">[[${c.name}]]</option>
                                </select>
                              </div>
                              <!-- Price Field -->
                              <div class="mb-4 col">
                                    <label class="block text-gray-700 font-semibold mb-2">Enter Price</label>
                                    <input type="number" name="price" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" th:value="${product.price}">
                              </div>
                            </div>


                            <div class="row">
                                <!-- Category Field -->
                                <div class="mb-4 col">
                                    <label  class="block text-gray-700 font-semibold mb-2">Discount</label>
                                     <input type="number" name="discount" th:value="${product.discount}" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                </div>
                                <!-- Price Field -->
                                <div class="mb-4 col">
                                    <label class="block text-gray-700 font-semibold mb-2">Discount Price</label>
                                    <input type="number" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" th:value="${product.discountPrice}" readonly>
                                </div>
                            </div>

                            <!-- isActive Radio -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-medium mb-2">Status</label>
                                <div class="flex items-center mb-2">
                                    <input class="form-radio text-blue-600" type="radio" name="isActive" id="flexRadioDefault1" value="true" th:checked="${product.isActive==true}">
                                    <label class="ml-2 text-gray-700" for="flexRadioDefault1">Active</label>
                                </div>
                                <div class="flex items-center">
                                    <input class="form-radio text-blue-600" type="radio" name="isActive" id="flexRadioDefault2" value="false" th:checked="${product.isActive==false}">
                                    <label class="ml-2 text-gray-700" for="flexRadioDefault2">Inactive</label>
                                </div>
                            </div>




                            <!-- Stock and Image Upload Fields -->
                            <div class="flex justify-between mb-4">
                                <div class="w-1/2 pr-2">
                                    <label class="block text-gray-700 font-semibold mb-2">Enter Stock</label>
                                    <input type="number" name="stock" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"  th:value="${product.stock}">
                                </div>
                                <div class="w-1/2 pl-2">
                                    <label class="block text-gray-700 font-semibold mb-2">Upload Image</label>
                                    <input type="file" id="file" name="file" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                </div>
                            </div>

                            <div class="flex justify-center mb-4">
                                <img th:src="@{'/img/product/'+${product.image}}" class="w-24 h-24 object-cover rounded-lg shadow-md">
                            </div>

                            <!-- Submit Button -->
                            <button class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition-all">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>